@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Json Parcing</h1>
    <p>Перейдіть на вкладку Json, далі для вибирайте Upload & Process для завантаження Json файлу.</p>
    <p>Після завантаження вашого файлу ви можете переглянути ваші дані у вигляді ієрархічного дерева натиснувши Hierarchy Tree.</p>
</div>
